/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB           &kp W  &kp E  &kp R         &kp T        &kp Y        &kp U           &kp I      &kp O       &kp P
&kp A             &kp S  &kp D  &kp F         &kp G        &kp H        &kp J           &kp K      &kp L       &kp SEMICOLON
&hm LEFT_SHIFT Z  &kp X  &kp C  &kp V         &kp B        &kp N        &kp M           &kp COMMA  &kp PERIOD  &kp SLASH
                                &kp LEFT_GUI  &lt 1 ESC    &lt 2 SPACE  &hm LALT GRAVE
            >;
        };

        lower_layer {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK           &kp SQT            &kp DOUBLE_QUOTES
&kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5         &kp MINUS  &kp EQUAL      &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp LEFT_BRACE
&kp NUMBER_6     &kp N7        &kp N8        &kp N9        &kp N0         &kp UNDER  &kp PLUS       &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE
                                             &mo 4         &trans         &kp ENTER  &mo 3
            >;
        };

        upper_layer {
            bindings = <
&kp Q      &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3    &kp NUMBER_4    &kp C_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none          &kp BACKSPACE
&sk LCTRL  &sk LEFT_ALT      &sk LEFT_GUI      &sk LEFT_SHIFT  &none           &kp LEFT_ARROW  &kp DOWN           &kp UP_ARROW     &kp RIGHT      &kp DELETE
&trans     &sk LC(LEFT_GUI)  &sk LA(LEFT_GUI)  &none           &none           &kp PIPE        &kp HOME           &kp END          &kp BACKSLASH  &none
                                               &trans          &trans          &trans          &trans
            >;
        };

        setting_layer {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &bootloader
&none  &none  &none  &none  &none    &none  &none  &none  &none  &sys_reset
                     &none  &none    &none  &none
            >;
        };

        num_layer {
            bindings = <
&none  &none  &none  &none  &none    &kp PERIOD  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BACKSPACE
&none  &none  &none  &none  &none    &kp MINUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK
&none  &none  &none  &none  &none    &kp PLUS    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp SLASH
                     &none  &none    &kp EQUAL   &kp KP_NUMBER_0
            >;
        };
    };
};
